﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="LabTechMaster.master.cs" Inherits="Lab_LabTech_LabTechMaster" %>


<!DOCTYPE HTML>
<html>
<head id="Head1" runat="server">
<title>Government General Hospital</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Medicinal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="applisalonion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="../../css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="../../css/style.css" rel='stylesheet' type='text/css' />	
<link rel="stylesheet" href="../../css/slider.css">
<script src="../../js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../js/move-top.js"></script>
<script type="text/javascript" src="../../js/easing.js"></script>
<!--/web-font-->
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<!--/script-->
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
        });
    });
</script>

    <asp:ContentPlaceHolder ID="head" runat="server">
   
    </asp:ContentPlaceHolder>
</head>
<body>
<!--start-home-->

<div class="main-header" id="house">
			<%--<div class="header-strip">
			   <div class="container">
				<p class="location"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:info@example.com">info@example.com</a></p>
				<p class="phonenum"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> + 655 8858 54892</p>
				<div class="social-icons">
					<ul>					
						<li><a href="#"><i class="facebook"> </i></a></li>
						<li><a href="#"><i class="twitter"> </i></a></li>
						<li><a href="#"><i class="google-plus"> </i></a></li>	
						<li><a href="#"><i class="dribble"> </i></a></li>										
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
			</div>
			<div class="header-middle">
			  <div class="header-search">
			   <form action="#" method="post">
				<div class="search">
					<input type="search" value="Search" name="search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" required="">
				</div>
				<div class="section_room">
					<select id="country" onchange="change_country(this.value)" class="frm-field required">
						<option value="null">All Tests</option>
						<option value="null">Blood Test</option>     
						<option value="AX">Urine Test </option>
						<option value="AX">Blood Volume Test</option>
						<option value="AX">Normal Test</option>
						<option value="AX">Body Scanning</option>
					</select>
				</div>
				<div class="sear-sub">
					<input type="submit" value=" ">
				</div>
				<div class="clearfix"></div>
			</form>
		</div>--%>
	</div>
		<!--header-top-->
			<div class="header-top">
			  <div class="container">
					 <nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
						<div class="logo">
							<h1><img src="../../images/logo.png" alt=" " /><a class="navbar-brand" href="SystemHome.aspx"><span>H</span>ospital Out Patient & NCD Management System  </a></h1>
						</div>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="Div1">
						  <div class="top-menu">
							<nav class="menu menu--francisco">
									<ul class="nav navbar-nav menu__list">
			<%--menu__item--current--%><li class="menu__item "><a href="homepageLabTech.aspx" class="menu__link"><span class="menu__helper">Home</span></a></li>
										<li class="menu__item"><a href="ViewRequest.aspx" class="menu__link"><span class="menu__helper">View Request</span></a></li>
										<li class="menu__item"><a href="EnterResults.aspx" class="menu__link"><span class="menu__helper">Enter Result</span></a></li>
                                        <li class="menu__item"><a href="PrintResult.aspx" class="menu__link"><span class="menu__helper">Print Result</span></a></li>
										<li class="menu__item"><a href="logout.aspx" class="menu__link"><span class="menu__helper">Logout</span></a></li>
                           

                                    </ul>
								</nav>
							</div>
					</div>
					<!-- /.navbar-collapse -->
				</nav>

			   <div class="clearfix"></div>
			</div>
	</div>
<%--</div>--%>
<!--//header-top-->
 <!-- //Line Slider -->
		<div class="top_banner two">
			<div class="container">
			       <div class="sub-hd-inner">
						<h3 class="tittle">&nbsp;</h3>
					</div>
			</div>
		</div>
    <br /><br /><br /><br /><br />
    	        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
    <br /><br /><br /><br /><br />
	<div class="footer-bottom">
		<div class="container">
			<p>© 2016 All rights reserved | Designed & Developed by Maria
		</div>
	</div>
		<!--start-smooth-scrolling-->
						<script type="text/javascript">
						    $(document).ready(function () {
						        /*
                                var defaults = {
                                    containerID: 'toTop', // fading element id
                                    containerHoverID: 'toTopHover', // fading element hover id
                                    scrollSpeed: 1200,
                                    easingType: 'linear' 
                                };
                                */

						        $().UItoTop({ easingType: 'easeOutQuart' });

						    });
								</script>
								<!--end-smooth-scrolling-->
		<a href="#house" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<script src="../../js/bootstrap.js"></script>

</body>
</html>



