﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Lab/LabTech/LabTechMaster.master" AutoEventWireup="true" CodeFile="ResEnterNcd.aspx.cs" Inherits="Lab_LabTech_ResEnterNcd" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <form id="form1" runat="server">
        <center>
        <table>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <asp:Label ID="lbl_test" runat="server"></asp:Label>
                </td>
                <td>
                    <asp:TextBox ID="txt_test" runat="server"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td>
                    <asp:Label ID="lbl_pat" runat="server"></asp:Label>
                    <asp:Label ID="lbl_date" runat="server"></asp:Label>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <asp:Button ID="btn_can" runat="server" CssClass="btn" Text="Cancel" />
                    &nbsp;</td>
                <td>
                    <asp:Button ID="btn_sub" runat="server" CssClass="btn" OnClick="btn_sub_Click" Text="Enter Result" />
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table></center>
    </form>
</asp:Content>

