﻿<%@ Page Title="" Language="C#" MasterPageFile="~/OPD/AdminMaster.master" AutoEventWireup="true" CodeFile="PopupPage.aspx.cs" Inherits="PopupPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

