<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Admin.master.cs" Inherits="Admin" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Template Name: BusinessToday
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>CCS Relations</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="layout/styles/layout.css" type="text/css" />
<asp:ContentPlaceHolder ID="head" runat="server">
    <style type="text/css">
        .style1
        {
            width: 159px;
        }
    </style>
    </asp:ContentPlaceHolder>
</head>
<body id="top">
<div class="wrapper col1">
  <div id="header">
     <table  >
            <tr>
                <td class="style1" >
                 <asp:Image ID="Image2" runat="server" 
                ImageUrl="~/images/CCS Technologies Logo.jpg" Height="37px" 
                Width="149px" />
              </td>
                <td style="font-size: xx-large; font-weight: lighter; color: #0099CC; font-style: italic;" align="right" 
                    > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Customer Relationship Management System&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
            </tr>
            <tr>
            <td class="style1"> </td>
            <%--<td style="font-size:small; font-weight: bold;" align="right">Welcome User    &nbsp;&nbsp;
                <asp:LinkButton ID="LinkButton1" runat="server">Logout</asp:LinkButton> </td>--%>
              
            </tr>
            <tr>
            <td class="style1"></td>
            <td></td>
            </tr>
             </table>
    <%--<div id="newsletter">
      <p>Sign up to our newsletter for the latest news, updates and offers.</p>
      <form action="#" method="post">
        <fieldset>
          <legend>NewsLetter</legend>
          <input type="text" value="Name&hellip;"  onfocus="this.value=(this.value=='Name&hellip;')? '' : this.value ;" />
          <input type="text" value="Email&hellip;"  onfocus="this.value=(this.value=='Email&hellip;')? '' : this.value ;" />
          <input type="submit" name="news_go" id="news_go" value="Sign Up" />
        </fieldset>
      </form>
    </div>--%>
    <br class="clear" />
  </div>
</div>
<div class="wrapper col2">
  <div id="topbar">
<div id="topnav">
      <ul>
        <li class="active"><a href="Authorization.aspx">Home</a></li>
        <li><a href="ProfileviewAdmin.aspx">Profile</a></li>
        <li><a href="ViewpaymentAdmin.aspx">Payment</a></li>
        <li><a href="#">General</a>
          <ul>
                
                <li><a href="Users.aspx">User</a></li>
                <li><a href="Adminpassword.aspx">Change Password</a></li>
                <li><a href="#">Password Reset</a></li>
          </ul>
        </li>
       <li><a href="#">Settings</a>
          <ul>  
                 <li><a href="Managebank.aspx">Banks</a></li>
                 <li><a href="Managebranch.aspx">Bank Branches</a></li>
                 <li><a href="Managecollege.aspx">Colleges</a></li>
                 <li><a href="Managecountry.aspx">Countries</a></li>
                 <li><a href="Managedistrict.aspx">Districts</a></li>
                 <li><a href="Manageeduqualific.aspx">Education Qualifications</a></li>
                 <li><a href="Managegrade.aspx">Grade Levels</a></li>
                 <li><a href="Managelocation.aspx">Locations</a></li>
                 <li><a href="Managemediumenq.aspx">Medium of Enquires</a></li>
                 <li><a href="Managementor.aspx">Mentors</a></li>
                 <li><a href="Managepaymentmode.aspx">Payment Modes</a></li>
                 <li><a href="ManageProgram.aspx">Programes</a></li>
                 <li><a href="Manageskill.aspx">Skills</a></li>
                 <li><a href="Managestate.aspx">States</a></li>
                 <li><a href="Managetech.aspx">Courses</a></li>
                 <li><a href="Managetest.aspx">Test</a></li>
                 <li><a href="Manageuniversity.aspx">Universities</a></li>
          </ul>       
       </li>

      </ul>
    </div>
    <div id="search">
      <form action="#" method="post">
        <fieldset>
          <legend>Site Search</legend>
          <input type="text" value="Search Our Website&hellip;"  onfocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;" />
          <input type="submit" name="go" id="go" value="Search" />
        </fieldset>
      </form>
    </div>
    <br class="clear" />
  </div>
</div>
<div class="wrapper col3">
<asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
 <%-- <div id="intro">
    <div class="fl_left">
      <h2>Cursus penati saccum ut curabitur nulla.</h2>
      <p>Cursuspenatisaccum ut curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et curabitur consequam intesque. Curabiturpisametur in ante.</p>
      <p class="readmore"><a href="#">Ipsumsenterdum non velit &raquo;</a></p>
    </div>
    <div class="fl_right"><img src="images/demo/380x300.gif" alt="" /></div>
    <br class="clear" />
  </div>--%>
</div>
<%--<div class="wrapper col4">
  <div id="services">
    <ul>
      <li>
        <div class="fl_left"><img src="images/demo/100x180.gif" alt="" /></div>
        <div class="fl_right">
          <h2>Indonectetus facilis</h2>
          <p>Nullamlacus dui ipsum cons eque loborttis non euis que morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque.</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </div>
      </li>
      <li>
        <div class="fl_left"><img src="images/demo/100x180.gif" alt="" /></div>
        <div class="fl_right">
          <h2>Indonectetus facilis</h2>
          <p>Nullamlacus dui ipsum cons eque loborttis non euis que morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque.</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </div>
      </li>
      <li class="last">
        <div class="fl_left"><img src="images/demo/100x180.gif" alt="" /></div>
        <div class="fl_right">
          <h2>Indonectetus facilis</h2>
          <p>Nullamlacus dui ipsum cons eque loborttis non euis que morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque.</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </div>
      </li>
    </ul>
    <br class="clear" />
  </div>
</div>
<div class="wrapper col5">--%>
 <%-- <div id="container">
    <div id="content">
      <h2>About This Free CSS Template</h2>
      <p>This is a W3C standards compliant free website template from <a href="http://www.os-templates.com/">OS Templates</a>.</p>
      <p>This template is distributed using a <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>, which allows you to use and modify the template for both personal and commercial use when you keep the provided credit links in the footer.</p>
      <p>For more CSS templates visit <a href="http://www.os-templates.com/">Free Website Templates</a>.</p>
      <p>Lacusenim inte trices lorem anterdum nam sente vivamus quis fauctor mauris. Wisinon vivamus wisis adipis laorem lobortis curabiturpiscingilla dui platea ipsum lacingilla.</p>
      <p>Semalique tor sempus vestibulum libero nibh pretium eget eu elit montes. Sedsemporttis sit intesque felit quis elis et cursuspenatibulum tincidunt non curabitae.</p>
    </div>
    <div id="column">
      <div class="holder">
        <h2>Nullamlacus loborttis</h2>
        <ul id="latestnews">
          <li> <img class="imgl" src="images/demo/100x75.gif" alt="" />
            <p><strong><a href="#">Indonectetus facilis leo.</a></strong></p>
            <p>Nullamlacus dui ipsum cons eque loborttis non euis que morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque.</p>
          </li>
          <li class="last"> <img class="imgl" src="images/demo/100x75.gif" alt="" />
            <p><strong><a href="#">Indonectetus facilis leo.</a></strong></p>
            <p>Nullamlacus dui ipsum cons eque loborttis non euis que morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque.</p>
          </li>
        </ul>
      </div>
    </div>
    <br class="clear" />
  </div>--%>
</div>
<%--<div class="wrapper col6">
  <div id="footer">
    <div id="login">
      <h2>Client Login !</h2>
      <p>Clients can Login to their accounts here.</p>
      <form action="#" method="post">
        <fieldset>
          <legend>Client Login</legend>
          <div class="fl_left">
            <input type="text" value="Enter email address&hellip;"  onfocus="this.value=(this.value=='Enter email address&hellip;')? '' : this.value ;" />
            <input type="password" value="Enter password&hellip;"  onfocus="this.value=(this.value=='Enter password&hellip;')? '' : this.value ;" />
          </div>
          <div class="fl_right">
            <input type="submit" name="login_go" id="login_go" value="&raquo;" />
          </div>
        </fieldset>
      </form>
      <p><a href="#">&raquo; Lost Your Password</a> | <a href="#">Create An Account &raquo;</a></p>
    </div>
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>--%>
<%--<div class="wrapper col7">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <br class="clear" />
  </div>
</div>--%>
</body>
</html>
