﻿<%@ Page Title="" Language="C#" MasterPageFile="~/NCD/Nurse/NCDNurseMaster.master" AutoEventWireup="true" CodeFile="Homepagenurse.aspx.cs" Inherits="NCD_Nurse_Homepagenurse" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    </asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
  <form id="form1" >
    <div>


       <%-- <div class="medicinal-w3">
				<div class="container">
				    <div class="sub-hd">--%>
						<%--<h3 class="tittle two">OUR <span>SERVICES</span></h3>--%>
					<%--</div>
					<div class="medicinal-w3-grids one">
						<div class="col-md-6 medicinal-w3-grid">
							<div class="col-md-8 medicinal-w3-left">
								<h4><a href="ViewNewEmps.aspx" class="rm-btn btn btn-primary">
										View New Employees</a></h4>--%>
								<%--<p>sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi. </p>--%>
							<%--</div>
							<div class="col-md-4 medicinal-w3-right">
								<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b"><%--"hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b"--%>
									<%--<a href="ViewNewEmps.aspx" class="sti-icon glyphicon glyphicon-eye-open sti-item"><%--"hi-icon icon8">--%></a>
								<%--</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="col-md-6 medicinal-w3-grid">
							<div class="col-md-4 medicinal-w3-right">
								<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b"><%--"hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b"--%>
									<%--<a href="changeusername.aspx" class="sti-icon glyphicon glyphicon-user sti-item"><%--"hi-icon icon8">--%></a>
								
								<%--</div>--%>
							<%--</div>--%>
							<%--<div class="col-md-8 medicinal-w3-left1">
								<h4><a href="changeusername.aspx" class="rm-btn btn btn-primary">
										Change Username</a></h4>--%><%--<p>sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi. </p>--%><%--</div>--%>
							<%--<div class="clearfix"></div>--%>
						<%--</div>--%>
						<%--<div class="clearfix"></div>--%>
					<%--</div>--%>
					<%--<div class="medicinal-w3-grids">
						<div class="col-md-6 medicinal-w3-grid">
							<div class="col-md-8 medicinal-w3-left">
								<h4><a href="changepassword.aspx" class="rm-btn btn btn-primary">
										Change Password</a></h4>
								<%--<p>sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi. </p>--%>
							<%--</div>--%>
							<%--<div class="col-md-4 medicinal-w3-right">
								<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b"><%--"hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b"--%>
									<%--<a href="changepassword.aspx" class="sti-icon glyphicon glyphicon-edit sti-item"><%--"hi-icon icon8">--%></a>&nbsp;<%--</div>--%><%--</div>--%>
							<%--<div class="clearfix"></div>--%>
						<%--</div>--%>
						<%--<div class="col-md-6 medicinal-w3-grid">
							<div class="col-md-4 medicinal-w3-right">
								<%--<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b"><%--"hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b"--%>
									<%--<a href="logout.aspx" class="sti-icon glyphicon glyphicon-lock sti-item"><%--"hi-icon icon8">--%></a>&nbsp;<%--</div>--%>
							<%--</div>--%>&nbsp;<%--<div class="col-md-8 medicinal-w3-left1">
								<h4><a href="logout.aspx" class="rm-btn btn btn-primary">
										Logout</a></h4>
								<%--<p>sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi. </p>--%><%--</div>--%>
							<%--<div class="clearfix"></div>--%>
					<%--	</div>
						<div class="clearfix"></div>
					</div>--%>
				<%--</div>--%>
			<%--</div>--%>
          <section class= "featured-service-content">
			<div class="container">
				<div class="row">
					
                    <ul id="sti-menu" class="sti-menu">
	        		<li data-hovercolor="#fff">
					<a href="InitialInvestigation.aspx">
						<h4 data-type="mText" class="sti-item">Initial Investigation</h4>
						<%--<p data-type="sText" class="sti-item"></p>--%>
						<span data-type="icon" class="sti-icon glyphicon glyphicon-eye-open sti-item"></span>
						<span data-type="icon" class="gly"></span>

					</a>
				</li>
                        <li data-hovercolor="#fff">
					<a href="ChangeUsername.aspx">
						<h4 data-type="mText" class="sti-item">Change Username</h4>
						<%--<p data-type="sText" class="sti-item"></p>--%>
						<span data-type="icon" class="sti-icon glyphicon glyphicon-user sti-item"></span>
					
                    </a>
				</li>
                        <li data-hovercolor="#fff">
					<a href="ChangePassword.aspx">
						<h4 data-type="mText" class="sti-item">Change Password</h4>
						<%--<p data-type="sText" class="sti-item"></p>--%>
						<span data-type="icon" class="sti-icon glyphicon glyphicon-edit sti-item"></span>
					</a>
				</li>
                         <li data-hovercolor="#fff">
					<a href="logout.aspx">
						<h4 data-type="mText" class="sti-item">Logout</h4>
						<%--<p data-type="sText" class="sti-item"></p>--%>
						<span data-type="icon" class="sti-icon glyphicon glyphicon-lock sti-item"></span>

					</a>
				</li>
						</ul>				
                    
	        		</div>
			</div>
		</section>
               
    <br />

    
    
          </div>
    </form>
</asp:Content>

