﻿<%@ Page Title="" Language="C#" MasterPageFile="~/NCD/Nurse/NCDNurseMaster.master" AutoEventWireup="true" CodeFile="InsulinPage.aspx.cs" Inherits="NCD_Nurse_InsulinPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <form id="form1" runat="server">
    <table class="nav-justified">
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <asp:Label ID="lbl_ins" runat="server" Font-Size="Large" ForeColor="#FF0066" Text="No Pending Records Found"></asp:Label>
            </td>
        </tr>
        <tr>
            <td>
                    <asp:GridView ID="gridview_pat" HeaderStyle-BackColor="#3AC0F2" HeaderStyle-ForeColor="White" runat="server" AutoGenerateColumns="False" OnRowCommand="gridview_pat_RowCommand" Width="498px" CellPadding="3" CssClass="auto-style2" DataKeyNames="presid" BackColor="White" BorderColor="#CCCCCC" BorderStyle="None" BorderWidth="1px"  >  
                    <Columns>  
                        <asp:BoundField DataField="patientid" HeaderText="Patient Id" />  
                        <asp:BoundField DataField="pname" HeaderText="Patient Name" />  
                     <asp:ButtonField Text="View" CommandName="Select" ItemStyle-Width="50"  >

                        
                             
<ItemStyle Width="30px"></ItemStyle>
                        </asp:ButtonField>

                        
                             
                    </Columns>  
                       <FooterStyle BackColor="White" ForeColor="#000066" />

<HeaderStyle BackColor="#006699" ForeColor="White" Font-Bold="True"></HeaderStyle>
                       <PagerStyle BackColor="White" ForeColor="#000066" HorizontalAlign="Left" />
                       <RowStyle ForeColor="#000066" />
                       <SelectedRowStyle BackColor="#669999" Font-Bold="True" ForeColor="White" />
                       <SortedAscendingCellStyle BackColor="#F1F1F1" />
                       <SortedAscendingHeaderStyle BackColor="#007DBB" />
                       <SortedDescendingCellStyle BackColor="#CAC9C9" />
                       <SortedDescendingHeaderStyle BackColor="#00547E" />
                </asp:GridView></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>
        </form>
</asp:Content>

