* { margin: 0 0 0 36px; 
padding: 0; outline: 0; }

body {
    font-size: 12px;
    line-height: 20px;
    font-family: arial, sans-serif;
    color: #514d34;
    background: #370a00;
    min-width: 1001px;
}

a { color: #d22e03; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }



cl { display: block; height: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.shell { width: 1001px; margin: 0 auto; }

#header { background: url(images/header.png) repeat-x 0 0; }

#logo { padding: 28px 0 0 21px; }
#logo .slogan { font-size: 10px; line-height: 12px; color: #5f1408; text-transform: uppercase; }
#logo a { display: block; width: 191px; height: 38px; font-size: 0; line-height: 0; text-indent: -4000px;  }

#navigation { display: inline; float: right; padding-right: 18px;
    height: 91px;
}
#navigation ul li { display: inline; float: left; line-height: 99px; }
#navigation ul li { font-family: Georgia, 'times new roman', serif; font-weight: bold; font-style: italic; font-size: 18px; text-shadow: 0 -1px #932609; }
#navigation ul li a { color: #fff; float: left; padding-left: 20px; height: 99px; background: url(images/nav-item.png) no-repeat left -4000px; }
#navigation ul li a span { float: left; padding-right: 20px; background: url(images/right-sep.png) no-repeat right -4000px;
    height: 61px;
    width: 52px;
}
#navigation ul li a:hover { text-decoration: none; background-position: left 0; }
#navigation ul li a:hover span { background-position: right 0; }

#slider { padding-top: 12px; height: 382px; background: url(images/slider.png) repeat-x 0 0; }

#slider-frame { position: relative; padding: 21px 0 22px 19px; width: 980px; background: url(images/slider-frame.png) no-repeat 0 0; }

#carousel .jcarousel-container,
#carousel .jcarousel-clip,
#carousel ul li { float: left; position: relative; overflow: hidden; width: 644px; height: 318px; }
#carousel .caption { position: absolute; bottom: 0; left: 0; padding: 12px 0 0 19px; background: url(images/caption.png) repeat-x 0 0; }
#carousel .caption h2 { font-family: Georgia, 'times new roman', serif; font-size: 37px; line-height: 40px; color: #fff; font-weight: normal; font-style: italic; }
#carousel .caption p { font-size: 13px; color: #fff; }

.slider-nav { position: absolute; top: 21px; right: 22px; width: 312px; background: url(images/thumbs-border.png) no-repeat right 0; }
.slider-nav li { overflow: hidden; list-style: none; padding: 2px 0 8px 17px; width: 294px; height: 68px; line-height: 18px; }
.slider-nav li { color: #45402a; background: url(images/thumb-bg.png) no-repeat 0 0; cursor: pointer; }
.slider-nav li.first {margin-top: 4px; }
.slider-nav li.active { background: url(images/thumb-active.png) no-repeat 0 0;  }
.slider-nav li h3 { padding: 8px 0 6px; font-family: Georgia, 'times new roman', serif; font-size: 18px; font-style: italic; font-weight: normal; color: #000; }
.slider-nav li a { display: block; float: left; margin-right: 14px; padding: 2px; width: 94px; height: 67px; }
.slider-nav li a { line-height: 0; text-indent: -4000px; background: #fff; border: solid 1px #c9c9c7; }
.slider-nav li a img { display: block; width: 94px; height: 67px; }
.slider-nav .bottom { background: url(images/thumbs-bottom.png) no-repeat 0 0; height: 10px; width: 300px; }

#main { background: #f9ecba; position: relative;
    top: 0px;
    left: 0px;
    width: 1191px;
}

#content { padding: 55px 0 84px 8px; width: 993px; overflow: hidden; }
#content .last { margin-right: 0;
    top: 0px;
    left: 0px;
}

.post { position: relative; display: inline; float: left; margin-right: 55px; border-bottom: solid 1px #dbcfa3; width: 291px; min-height: 514px; }
.post h3 { font-family: Georgia, 'Times new roman', serif; font-size: 26px; line-height: 35px; font-style: italic; color: #000; font-weight: normal; }
.post h3 { margin-bottom: 17px; padding: 0 0 26px 3px; border-bottom: solid 1px #c7bd95; }
.post ul {  list-style: none; }
.post ul li { line-height: 30px; font-weight: bold; padding-left: 21px; height: 30px; background: url(images/bullet.png) no-repeat 0 50%; }
.post p { padding-bottom: 20px; }
.post p.italic { color: #d22e03; font-weight: bold; font-style: italic; padding-bottom: 14px; }
.post span.read-more { position: absolute; right: 2px; bottom: 0; width: 100%; padding: 0; }
.post span.read-more { font-family: Georgia, 'times new roman', serif; font-size: 14px; font-style: italic; text-align: right; border-bottom: solid 1px #e5d9ab; }
.post img { margin: 4px 0 13px; padding: 2px; border: solid 1px #bdb48e; background: #fff; display: block; }
.post .block-text { padding-bottom: 20px; }
.post .block-text a.title { display: inline; float: left; font-style: italic; font-weight: bold; font-size: 14px; text-decoration: underline; }
.post .block-text a.title:hover { text-decoration: none; }
.post .block-text p { padding: 7px 0 0 0; line-height: 18px;  }
.post .block-text span.date { float: right; padding: 4px 5px 0 0; font-size: 10px; line-height: 10px; color: #b3946c;  }

#footer { padding: 50px 0 55px; border-bottom: solid 1px #793c2e; background: #5b1100 url(images/footer.png) repeat-x 0 0; }
#footer .shell { padding-left: 9px; width: 992px; }
#footer .last { padding-right: 0; }

.col { display: inline; float: left; padding-right: 58px; width: 288px; }
.col h3 { padding: 0 0 30px 2px; font-family: Georgia, 'times new roman', serif; font-size: 22px; font-style: italic; color: #f9ecba; }
.col p { color: #d0ac7f; }
.col p a { color: #f9ecba; text-decoration: underline; }
.col ul { position: relative; margin-top: -6px; padding-left: 1px; list-style: none; }
.col ul li { font-weight: bold; line-height: 34px; border-bottom: dotted 2px #642212; height: 100%; }
.col ul li.last { border-bottom: 0; }
.col ul li a { display: block; color: #f1c58d; }

#bottom-navigation { padding: 11px 0 20px;  border-top: solid 1px #5c2a1f; }
#bottom-navigation .shell { padding-left: 10px; width: 991px; }
#bottom-navigation p { color: #79573f; }
#bottom-navigation p a { color: #79573f; }
#bottom-navigation span { padding: 0 10px 0 9px; }
#bottom-navigation .author { float:right; }