﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Lab/LabMaster.master" AutoEventWireup="true" CodeFile="loginpage.aspx.cs" Inherits="Lab_loginpage" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <%-- <meta charset="utf-8"/>--%>

<style type="text/css">

    .auto-style1 {
        height: 18px;
    }
</style>
    <%--<link href="../assets/css/flexslider.css" rel="stylesheet" type="text/css" />--%>

</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <div>
    
    </div>
    
<div id="login">
    <form id="form1" runat="server">
       <center>
           <table>
            <tr><td></td></tr>
        <tr><td>
<h1>&nbsp;</h1></td></tr>
<tr><td>Username</td></tr>
<tr><td>
    <asp:TextBox ID="txt_user" runat="server" CausesValidation="True" class="twitter" BackColor="#CCCCCC" Height="37px" Width="294px" ></asp:TextBox>
    <br />
    <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ControlToValidate="txt_user" ErrorMessage="*Enter Username" ForeColor="#CC0000"></asp:RequiredFieldValidator>
    </td></tr>

<tr><td class="auto-style1">Password</td></tr>
<tr><td>    <asp:TextBox ID="txt_pswd" runat="server" class="twitter" CausesValidation="True" TextMode="Password" BorderColor="White" Height="37px" BackColor="#CCCCCC" Width="294px"></asp:TextBox>
    <br />
    <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" ControlToValidate="txt_pswd" ErrorMessage="*Enter Password" ForeColor="#CC0000"></asp:RequiredFieldValidator>
    </td></tr>
<tr><td>    <asp:Label ID="lbl_incorrect" runat="server"></asp:Label></td></tr>
<tr><td>
    <asp:Button ID="btn_sub" runat="server" CssClass="btn" Text="Login" OnClick="btn_sub_Click" ForeColor="Gray" Height="41px" Width="125px" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</td></tr>
<tr><td>
        &nbsp;</td></tr>
    </table>
           </center> 

    </form></div> <!-- end login -->


</asp:Content>



